@use 'variables' as *;

.user-avatar-custom {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.fallback-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
